h1 {
    text-align: center;
    color: black;
    font-family: Impact;
    font-stretch: expanded;
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    color: black;
    font-family: Impact;
    font-stretch: expanded;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}


p {
    font-family: Tahoma;
    font-size:20px;
}

ul {
     font-family: Tahoma;
     font-size:20px;
}

footer {
    font-family:Impact;
    text-align:center;
    font-size: 2em;
    padding:15px;
}

body {
    background: linear-gradient(to bottom right,white,gray);
}

header img {

    opacity: 0.5;
    width:25%;
    float: right;
    margin: 0 0 15px 20px;
    padding: 15px;
    text-align: center;
   }

main img {

    opacity: 0..75;
    width:25%;
    float: left;
    margin: 0 0 15px 20px;
    padding: 15px;
    text-align: center;
    border-radius: 40%;
   }

article h3 {
    font-family: cursive;
    font-size: 30px;

}


article p {
    font-family:cursive;
    font-size: 20px;
}

article img  {

        opacity: 0.2;
        width:90%;
        margin: 0 0 15px 20px;
        padding: 15px;
        border-radius: 50%;

       }
